.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: rgb(134, 186, 186);
}

.TabelaProdutos .Impar {
    background-color: rgb(213, 213, 213);
}

.TabelaProdutos .Par {
    background-color: rgb(243, 243, 243);
}